[user]
	name = Antoine DECHAUME
	email = antoine.dechaume@sogeti.com
[difftool]
	prompt = false
[diff]
	tool = tkdiff
[color]
	status = auto
	branch = auto
	diff = auto
	ui = auto
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[gui]
	fontdiff = -family Monospace -size 10 -weight normal -slant roman -underline 0 -overstrike 0
	warndetachedcommit = true
	fontui = -family gothic -size 10 -weight normal -slant roman -underline 0 -overstrike 0
[http]
	sslVerify = true
[svn]
    rmdir = true
[url "http://"]
	insteadOf = git://
