[submodule "Gdbinit"]
	path = Gdbinit
	url = https://github.com/gdbinit/Gdbinit
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "xresources-solarized"]
	path = xresources-solarized
	url = https://github.com/solarized/xresources
[submodule "Boost-Pretty-Printer"]
	path = Boost-Pretty-Printer
	url = https://github.com/ruediger/Boost-Pretty-Printer
[submodule "gdb-dashboard"]
	path = gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard
