[user]
    name = Antoine DECHAUME
    email = <>
[color]
    status = auto
    branch = auto
    diff = auto
    ui = auto
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    editor = nvim
    symlinks = true
[gui]
    # fontdiff = -family Monospace -size 10 -weight normal -slant roman -underline 0 -overstrike 0
    warndetachedcommit = true
    # fontui = -family gothic -size 10 -weight normal -slant roman -underline 0 -overstrike 0
    spellingdictionary = none
    tabsize = 4
[http]
    sslVerify = true
[svn]
    rmdir = true
[url "http://"]
    insteadOf = git://
[push]
    default = matching
[credential]
    helper = store --file ~/.gitcredentials
[rerere]
    enabled = true

# for git-delta
# [pager]
#     diff = delta
#     log = delta
#     reflog = delta
#     show = delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = decorations
    syntax-theme = Solarized (dark)
    # line-numbers = true
    # side-by-side = true
    wrap-max-lines = unlimited

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    # hunk-header-decoration-style = blue box
    # hunk-header-file-style = red
    # hunk-header-line-number-style = "#067a00"
    # hunk-header-style = file line-number syntaxautoUpdate = true

[difftool]
    prompt = false

# Diff with meld
[diff]
    tool = meld
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    # cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"

# Diff with difftastic
[diff]
    external = difft
    # tool = difftastic
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[pager]
    difftool = true
    # diff = difft
    # log = difft
    # reflog = difft
    # show = difft
