dist
*.egg-info
.*.swp
*.ropeproject
*.sublime-project
*.sublime-workspace
*.xcodeproj
*.mod
*.o
*.a
*.tmproj
.DS_Store
tmtags
*.pyc
*.pyo
.svn
*sconsign*
#CVS
.CVS
.lock-*
.waf-*
*.dylib
*.so
_build
Build
build
.project
.cproject
Reg
.project
.pydevproject
.settings
.ptp-sync
tags
