! use solarized dark theme
#include "dotfiles/xresources-solarized/Xresources.dark"

xterm*font: 9x15
URxvt.font: 9x15
! URxvt.letterSpace: -5
URxvt.fading: 0
URxvt.cursorBlink: true

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
